In [26]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [27]:
book_list=[]

In [28]:
for x in range(1,51):
    url=f'http://books.toscrape.com/catalogue/page-{x}.html'
    r=requests.get(url)
    soup=BeautifulSoup(r.text,'html.parser')
    
    article=soup.find_all('article',class_='product_pod')
    
    for book in article:
        
        title=book.find_all('a')[1]['title']
        price=book.find('p',class_='price_color').text[2:]
        instock=book.find('p',class_='instock availability').text.strip()
        
            
        books={
            'title':title,
            'price':price,
            'instock':instock
   
        }
        book_list.append(books)

In [29]:
df=pd.DataFrame(book_list)

In [30]:
df.head()

                                   title  price   instock
0                   A Light in the Attic  51.77  In stock
1                     Tipping the Velvet  53.74  In stock
2                             Soumission  50.10  In stock
3                          Sharp Objects  47.82  In stock
4  Sapiens: A Brief History of Humankind  54.23  In stock

In [31]:
df.shape

(1000, 3)

In [32]:
df.describe()

                         title  price   instock
count                     1000   1000      1000
unique                     999    903         1
top     The Star-Touched Queen  44.18  In stock
freq                         2      3      1000

In [33]:
df.isna().sum()

title      0
price      0
instock    0
dtype: int64